%nav
	.mini
		%p.products Empty
		%p.names
		%p.miniprice
		%a(href="#" ) checkout
	%ul
		%li Home
		%li Canteens
		%li Favourites
		%li Order History
		
	.cart.icon-basket
		%span.number 1
.container
	-1.times do
		%div.product
			%img(src='https://placeimg.com/200/100')
			%h2.header Pasta
			%p.description Nullam posuere turpis vel lacinia luctus. Donec in efficitur neque. Curabitur consectetur non ipsum in eleifend. Praesent id velit in nisi maximus porta nec vitae odio. Proin vitae magna a massa accumsan venenatis. Donec semper, sem in ullamcorper bibendum, mauris sem imperdiet lorem, tempor aliquet ligula lorem sit amet nibh. Suspendisse potenti.
			%p.price 40,-
			.btn Add to cart
			.quickview Quickview
.quickviewContainer
	.close
	%h2.headline
	%p.description
	%img(src='https://placeimg.com/100/100')
	%img(src='https://placeimg.com/100/100')
	%img(src='https://placeimg.com/100/100')